@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilo General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; /* Gris claro */
    color: #333; /* Negro suave */
}

/* Encabezado */
header {
    background-color: #011f30; /* Azul oscuro */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-family:'Zilla Slab Highlight', serif;
    font-size: 2.5rem;
    width: 50%; /* Ancho reducido a la mitad */
    margin: 0 auto; /* Centrado del h1 */
}

/* Barra Lateral */
.barra-lateral {
    position: fixed;
    top: 90px;
    left: 0;
    width: 80px;
    height: 78%; /* Reducido para que no cubra el encabezado */
    background-color: #013857; /* Azul intermedio */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Asegura que la barra lateral esté por encima de otros elementos */
}

.barra-lateral a {
    margin: 20px 0;
    display: block;
}

.barra-lateral img {
    width: 40px;
    height: 40px;
}

/* Estilo para la tabla de Imágenes Diagnosticadas */

/* Contenedor del título */
h2 {
    font-family:'Zilla Slab Highlight', serif;
    text-align: center;
    margin-top: 20px;
    color: #011f30; /* Azul oscuro */
    font-size: 1.8rem;
}

/* Tabla */
table {
    width: 70%;
    border-collapse: collapse;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
    margin-left: 15%; /* Mueve la tabla hacia la derecha */
}

/* Encabezados de la tabla */
thead th {
    background-color: #013857; /* Azul intermedio */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Filas de la tabla */
tbody tr {
    text-align: center;
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria gris suave */
}

/* Celdas de la tabla */
tbody td {
    padding: 10px 15px;
    color: #333; /* Negro suave */
    font-size: 1rem;
}

/* Fila de pie de tabla */
tfoot td {
    padding: 20px;
    font-style: italic;
    color: white; /* Azul claro */
    text-align: center;
    background-color: #013857; /* Gris claro */
}

/* Efecto hover en las filas */
tbody tr:hover {
    background-color: #e0e0e0; /* Gris suave */
}

